/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <combos.dtsi>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define COLEMAK 3
#define COLEMAK_NUMBER 4
#define COLEMAK_ARROW 5

/ { 

        };
    behaviors {
        hm: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <125>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
        };
        mt: momentary {
                compatible = "zmk,behavior-hold-tap";
                label = "MOMENTARY";
                #binding-cells = <2>;
                quick-tap-ms = <125>;
                flavor = "tap-preffered";
                tapping_term_ms = <200>;
                bindings = <&kp>, <&kp>;
        };
};



};
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ----------------------------------------------------------------------------------------------
// | | Q | W |    E    |     R    |   T    |      |     Y     |     U     |    I    | O |   P   | |
// | | A | S | LCTRL/D | LSHFT/F  |   G    |      |     H     |  RSHFT/J  | RCTRL/K | L | RSE/' | |
// | | Z | X |    C    |     V    |   B    |      |     N     |     M     |    ,    | . |   /   | |
//           |         | LWR/BSPC | CTRL/- |      | CTRL/CAPS | LWR/SPACE |         |
                        bindings = <
   &none &kp Q &kp W &kp E       &kp R       &kp T               &kp Y          &kp U       &kp I       &kp O   &kp P      &none
   &none &kp A &kp S &hm LCTRL D &hm LSHFT F &kp G               &kp H          &hm RSHFT J &hm RCTRL K &kp L   &lt 2 APOS &none
   &none &kp Z &kp X &kp C       &kp V       &kp B               &kp N          &kp M       &kp COMMA   &kp DOT &kp FSLH   &none
                           &none &lt 1 BSPC  &mt LCTRL MINUS     &mt LCTRL CAPS &lt 1 SPACE &none
                        >;
                };
                
                lower_layer {
// ----------------------------------------------------------------------------------
// | |      |     |       |       |   |      |     |   7   | 8 | 9 |     0     | |
// | | LALT | TAB | LCTRL | LSHFT |   |      |  =  |   4   | 5 | 6 |    RSE/;  | |
// | |      |     |       |       |   |      | ENT |   1   | 2 | 3 | RSHFT/"/" | |
//                |       | BSPC  |   |      |  0  | SPACE |   |
                        bindings = <
   &none &kp N1    &kp N2    &kp N3  &kp N4   &kp N5         &kp N6    &kp N7    &kp N8   &kp N9   &kp N0         &none
   &none &kp TAB   &kp LCTRL &kp DEL &kp LALT &kp MINUS      &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &lt 2 SEMI     &none
   &none &kp LSHFT &trans    &trans  &trans   &kp ESC        &kp RET   &trans    &trans   &trans   &mt RSHFT FSLH &none
                             &none   &kp BSPC &kp LSHFT      &kp LSHFT &kp SPACE &none
                        >;
                };
                
                raise_layer {
// --------------------------------------------------------------------------------
// | | BTCLR |  BT1  | BT2 | BT3  |  |      |  |       |  UP  |       | COLEMAK | |
// | |       | LCRTL |     |      |  |      |  | LEFT  | DOWN | RIGHT |         | |
// | | LSHFT |       |     |      |  |      |  |       |      |       |         | |
//                   |     | BSPC |  |      |  | SPACE |      |
                        bindings = <
   &none &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans     &trans &trans    &kp UP   &trans    &tog 3 &none
   &none &trans     &kp LCTRL    &trans       &trans       &trans     &trans &kp LEFT  &kp DOWN &kp RIGHT &trans &none
   &none &kp LSHFT  &trans       &trans       &trans       &trans     &trans &trans    &trans   &trans    &trans &none
                    	           &none        &kp BSPC     &trans     &trans &kp SPACE &none
                         >;
                };
                
                colemak_layer {
// --------------------------------------------------------------------------------------------
// | |    Q    | W | F |    P     |   B    |      |     J     |     L     | U | Y |     '     |
// | |    A    | R | S |    T     |   G    |      |     M     |     N     | E | I |     O     |
// | | LSHFT/Z | X | C |    D     |   V    |      |     K     |     H     | , | . | RSHFT/"/" |
//                 |   | LWR/BSPC | CTRL/- |      | CTRL/CAPS | LWR/SPACE |   |
                        bindings = <
   &none &kp Q       &kp W &kp F &kp P      &kp B                &kp J          &kp L       &kp U     &kp Y   &kp APOS       &none
   &none &kp A       &kp R &kp S &kp T      &kp G                &kp M          &kp N       &kp E     &kp I   &kp O          &none
   &none &mt LSHFT Z &kp X &kp C &kp D      &kp V                &kp K          &kp H       &kp COMMA &kp DOT &mt RSHFT FSLH &none
                           &none &lt 4 BSPC &mt LCTRL MINUS      &mt LCTRL CAPS &lt 4 SPACE &none      
                         >;
                };
                
                colemak_number_layer {
// ----------------------------------------------------------------------------------
// | |   1   |   2   |  3  |  4   |  5   |      |  6   |   7   | 8 | 9 |     0     | |
// | |  TAB  | LCTRL | DEL | LALT |  -   |      |  =   |   [   | ] | \ |   RSE/;   | |
// | | LSHFT |       |     |      | ESC  |      | ENT  |       | , | . | RSHFT/"/" | |
//                   |     | BSPC | SHFT |      | SHFT | SPACE |   |
                        bindings = <
   &none &kp N1    &kp N2    &kp N3  &kp N4   &kp N5         &kp N6    &kp N7    &kp N8   &kp N9   &kp N0         &none
   &none &kp TAB   &kp LCTRL &kp DEL &kp LALT &kp MINUS      &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &lt 5 SEMI     &none
   &none &kp LSHFT &trans    &trans  &trans   &kp ESC        &kp RET   &trans    &trans   &trans   &mt RSHFT FSLH &none
                             &none   &kp BSPC &kp LSHFT      &kp LSHFT &kp SPACE &none
                         >;
                };
                
                colemak_arrow_layer {
// --------------------------------------------------------------------------------
// | | BTCLR |  BT1  | BT2 | BT3  |  |      |  |       |  UP  |       | DEFAULT | |
// | |       | LCRTL |     |      |  |      |  | LEFT  | DOWN | RIGHT |         | |
// | | LSHFT |       |     |      |  |      |  |       |      |       |         | |
//                   |     | BSPC |  |      |  | SPACE |      |
                        bindings = <
   &none &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans     &trans &trans    &kp UP   &trans    &tog 3 &none
   &none &trans     &kp LCTRL    &trans       &trans       &trans     &trans &kp LEFT  &kp DOWN &kp RIGHT &trans &none
   &none &kp LSHFT  &trans       &trans       &trans       &trans     &trans &trans    &trans   &trans    &none  &none
                    	           &none        &kp BSPC     &trans     &trans &kp SPACE &none
                        >;
                };
        };
};
